<strong>Olá, {{ deliveryman_name }}</strong>
<p>
    Uma entrega sua foi cancelada, os detalhes estão abaixo:
</p>
<p>
    <strong>Id do destinatário: </strong> {{ recipient_id }} <br/>
    <strong>Id da entrega: </strong> {{ delivery_id }} <br/>
    <strong>Produto: </strong> {{ product }} <br>
    <strong>Motivo: </strong> {{ reason }}
</p>